<div class="contextual" data-controller="custom-fields--redirect">
  <%= link_to sprite_icon('add', l(:label_custom_field_new)), '#',
   class: 'icon icon-add',
   data: { action: 'custom-fields--redirect#add', custom_fields__redirect_path_param: new_custom_field_path }
  %>
</div>
<%= title l(:label_custom_field_plural) %>

<% if @custom_fields_by_type.present? %>
  <%= render_custom_fields_tabs(@custom_fields_by_type.keys) %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
