.jstBlock .hidden {
    display: none;
}
.jstEditor {
    padding-left: 0px;
}
.jstEditor textarea, .jstEditor iframe {
    margin: 0;
}
.jstHandle {
    height: 10px;
    font-size: 0.1em;
    cursor: s-resize;
}
#content .jstTabs.tabs {
    margin-bottom: -1px;
}
#content .jstTabs.tabs ul {border-bottom:0;}
#content .jstTabs.tabs li {
    height: 42px;
}
#content .jstTabs.tabs li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#content .jstTabs.tabs li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 19px;
  border-bottom: 1px solid transparent;
}
.jstElements {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 6px;
    padding-bottom:2px;
    height: 26px;
}
.wiki-preview {
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
}
.wiki-preview p.empty-preview {color:#999; font-style:italic; margin-top:1em; text-align:center;}

.jstElements button {
    margin-right: 2px;
    width : 24px;
    height: 24px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    background-color : #f7f7f7;
    background-position : 50% 50%;
    background-repeat: no-repeat;
    cursor:pointer;
    opacity:0.7;
}
.jstElements button:hover {
    border-color: #bbb;
    background-color: #e5e5e5;
    opacity:1;
}
.jstElements button span {
    display : none;
}
.jstElements span {
    display : inline;
}

.jstSpacer {
    width : 0px;
    font-size: 1px;
    margin-right: 6px;
}

.jstElements .help { float: right; margin-right: 0.5em; padding-top: 8px; font-size: 0.9em; }
.jstElements .help a {padding: 2px 0 2px 20px; background: url(help.png) no-repeat 0 50%;}

.table-generator td {
    border: 2px solid #ccc;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.table-generator td.selected-cell, .table-generator td:hover {
    background-color: #759FCF;
}

.table-generator {
    position: absolute;
    border-collapse: collapse;
}

/* Buttons
-------------------------------------------------------- */
<<<<<<< HEAD
.jstb_strong:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_strong.png);
}

.jstb_em:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_em.png);
}

.jstb_ins:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_ins.png);
}

.jstb_del:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_del.png);
}

.jstb_code:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_code.png);
}

.jstb_h1:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_h1.png);
}

.jstb_h2:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_h2.png);
}

.jstb_h3:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_h3.png);
}

.jstb_ul:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_ul.png);
}

.jstb_ol:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_ol.png);
}

.jstb_tl:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_tl.png);
}

.jstb_bq:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_bq.png);
}

.jstb_unbq:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_bq_remove.png);
}

.jstb_pre:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_pre.png);
}

.jstb_precode:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_precode.png);
}

.jstb_link:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_link.png);
}

.jstb_img:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_img.png);
}

.jstb_table:not(.toolbar-svg) {
    background-image: url(jstoolbar/bt_table.png);
}

.jstb_help:not(.toolbar-svg) {
    background-image: url(help.png);
}

.toolbar-svg svg {
    fill: #666;
    margin-right: 4px;
}

button.toolbar-svg {
    color: #666;
    margin-right: 4px;
    padding-left: 1px;
}

.jstb_code.toolbar-svg::before {
    content: "C";
    font-size: 15px;
    font-weight: 700;
}

.jstb_h1.toolbar-svg::before {
    content: "H1";
    padding-left: 2px;
    font-size: 12px;
    font-weight: 700;
}

.jstb_h2.toolbar-svg::before {
    content: "H2";
    padding-left: 2px;
    font-size: 12px;
    font-weight: 700;
}

.jstb_h3.toolbar-svg::before {
    content: "H3";
    padding-left: 2px;
    font-size: 12px;
    font-weight: 700;
}

.jstb_pre.toolbar-svg::before {
    padding: 0px 0px 3px 0px;
    content: "pre";
    font-size: 12px;
    font-weight: 700;
}

