<%= form_for(@group, :url => group_users_path(@group), :remote => true, :method => :post) do |f| %>
  <%= render :partial => 'new_users_form' %>
  <p class="buttons">
    <%= submit_tag l(:button_add) %>
    <%= link_to l(:button_cancel), '#', data: { action: 'modal#hide' } %>
  </p>
<% end %>
