  <% if @principals_by_role.any? %>
  <div class="members box">
    <%= tag.h3 l(:label_member_plural), class: 'icon icon-group' %>
    <% @principals_by_role.keys.sort.each do |role| %>
      <p><span class="label"><%= role %>:</span> <%= @principals_by_role[role].sort.collect{|p| link_to_principal(p, :class => p.is_a?(Group) ? 'icon icon-group' : nil)}.join(", ").html_safe %></p>
    <% end %>
  </div>
  <% end %>
