<h2>Good Bye</h2>

<%= tag.p l(:text_say_goodbye), :class => 'icon icon-example-works' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'example', :plugin => 'sample_plugin', :media => "screen" %>
<% end %>
