#wiki-help div.modal { width: 300px; position: fixed; top: 5%; right: 10%; box-shadow: 0 2px 4px rgba(0,0,0,0.25) }
#wiki-help div.dialog-content { height: 640px; overflow: scroll }
#wiki-help h1 { font-family: var(--fonts-main); font-size: 0.875rem; text-align: center; color: #444; }
#wiki-help { font-family: var(--fonts-main); font-size: 0.75rem; color: #444; }
#wiki-help pre, code {font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace; }
#wiki-help table th { padding-top: 1em; }
#wiki-help table th img {
  border: 1px solid #bbb;
  opacity: 0.7;
}
#wiki-help table th .syntax-pre {
  display: inline-block;
  border: 1px solid #bbb;
  width: 18px;
  height: 18px;
}
#wiki-help table th .syntax-pre:before {
  content: "pre";
  font-size: 0.625rem;
  color: #666;
}
#wiki-help table td { background-color: #f5f5f5; height: 2em; vertical-align: middle;}
#wiki-help table td code { font-size: 1.2em; }
#wiki-help table td h1 { font-size: 1.8em; text-align: left; }
#wiki-help table td h2 { font-size: 1.4em; text-align: left; }
#wiki-help table td h3 { font-size: 1.2em; text-align: left; }

#wiki-help table.sample { border-collapse: collapse; border-spacing: 0; margin: 4px; }
#wiki-help table.sample th, #wiki-help table.sample td { border: solid 1px #bbb; padding: 4px; height: 1em; }

#wiki-help a,#wiki-help a:link,#wiki-help a:visited{ color: #169; text-decoration: none; }
#wiki-help a:hover, #wiki-help a:active{ color: #c61a1a; text-decoration: underline;}

#wiki-help .syntaxhl .mi { color: #0000DD; font-weight: bold }
#wiki-help .syntaxhl .nf { color: #0066BB; font-weight: bold }
#wiki-help .syntaxhl .k { color: #008800; font-weight: bold }
#wiki-help .syntaxhl .nb { color: #007020 }
#wiki-help .syntaxhl .s1 { background-color: #fff0f0 }

span.more_info { font-weight: normal; }

.markdown-alert {
  border-left: 4px solid;
  padding-left: 10px;
  margin-left: 10px;
}
.markdown-alert-title {
  font-weight: bold;
}
.markdown-alert-note { border-color: #169; }
.markdown-alert-note .markdown-alert-title { color: #1e40af; }
#wiki-help span.more_info { font-weight: normal; }
